@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100% vw;
    height: 100% vh;
    background-color: black;
}

main{
    position: relative;
    height: 100vh;
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela{
    position: relative;
    top: 82px;
    left: 24px;
    width: 262px;
    height: 467px;

}